<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nilest Virtual E-Learning</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/iziToast.min.css">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link rel="icon" type="icon" href="assets/logo.png">
    <script src="dist/js/iziToast.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

</head>
<body>

    <section id="nav-bar">

        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" >About us</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0">
                    <a href="/staff"><button type="button" class="btn btn-success"><span class="fa fa-sign-in"></span> Staff Login</button></a>
                    <a href="/student-login"><button type="button" class="btn btn-success"><span class="fa fa-user"></span> Student Login</button></a>
                </form>
                </div>
            </div>
          </nav>
    </section>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h3 class="wow slideInLeft" data-wow-delay="0.1s">NILEST VIRTUAL <br> <span>E-LEARNING</span></h3>
                    <p class="wow slideInLeft" data-wow-delay="0.1s">E-learning refers to a learning system that we can obtain through the internet using an electronic device. It can also be call online learning or online education. The "E" in E-learning stands for "Electronic." Hence, the original term "electronic learning."  <div class="search wow slideInUp">
                        <form action="index.php" method="POST">
                        <div class="row">
                            <div class="col-9">
                                <input type="text" name="search" class="form-control" placeholder="What are you looking for?">
                            </div>
                            <div class="col-3">
                                <button class="btn btn-warning float-right"> Search</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <div class="col-md-5">
                    <img class="wow fadeInLeft" data-wow-delay="0.1s" src="assets/learning.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="extra">
        <div class="container">
            <h3 class="wow bounceInLeft">Letter Better and Smart</h3>
            <p class="wow bounceInDown">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box wow bounceInUp">
                        <span class="fa fa-area-chart"></span>
                        <h6>Promote Learning</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box wow bounceInUp">
                        <span class="fa fa-briefcase"></span>
                        <h6>Prepare Students</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box wow bounceInUp">
                        <span class="fa fa-group"></span>
                        <h6>Group Meetings</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="recent">
        <div class="container">
            <h3>Recent Events</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="box wow bounceInLeft">
                       <div class="row">
                           <div class="col-md-4">
                                <div class="card mb-4 " style="background-image: url('assets/yakubu.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                                </div>
                           </div>
                           <div class="col-md-8">
                                <h5>COM 322 Lectures</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum nostrum id provident, obcaecati numquam.</p>
                                <button class="btn btn-success btn-sm"><span class="fa fa-video-camera"></span> Join</button>
                            </div>
                       </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box wow bounceInLeft">
                       <div class="row">
                           <div class="col-md-4">
                                <div class="card mb-4 " style="background-image: url('assets/yakubu.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                                </div>
                           </div>
                           <div class="col-md-8">
                                <h5>COM 322 Lectures</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum nostrum id provident, obcaecati numquam.</p>
                                <button class="btn btn-success btn-sm"><span class="fa fa-video-camera"></span> Join</button>
                            </div>
                       </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box wow bounceInLeft">
                       <div class="row">
                           <div class="col-md-4">
                                <div class="card mb-4 " style="background-image: url('assets/yakubu.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                                </div>
                           </div>
                           <div class="col-md-8">
                                <h5>COM 322 Lectures</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum nostrum id provident, obcaecati numquam.</p>
                                <button class="btn btn-success btn-sm"><span class="fa fa-video-camera"></span> Join</button>
                            </div>
                       </div> 
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box wow bounceInLeft">
                       <div class="row">
                           <div class="col-md-4">
                                <div class="card mb-4 " style="background-image: url('assets/yakubu.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;">
                                </div>
                           </div>
                           <div class="col-md-8">
                                <h5>COM 322 Lectures</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur dolorum nostrum id provident, obcaecati numquam.</p>
                                <button class="btn btn-success btn-sm"><span class="fa fa-video-camera"></span> Join</button>
                            </div>
                       </div> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>Nigerian Institute of Leather and Science Technology</h5>
                    <p>Developed by Nahid & Jethro</p>
                </div>
                <div class="col-md-4">
                    <h5>Quick Links</h5>
                    <p><a href="">Home</a></p>
                    <p><a href="">Courses</a></p>
                    <p><a href="">Department</a></p>
                    <p><a href="">Gallery</a></p>
                    <p><a href="">About us</a></p>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p><span class="fa fa-map"></span> Samaru, Zaria Opp. A.B.U</p>
                    <p><span class="fa fa-envelope"></span> nilestzaria@gmail.com</p>
                    <p><span class="fa fa-phone"></span> +2349039229392</p>
                </div>
            </div>
        </div>
    </section>



    <script src="lib/wow/wow.min.js"></script> 
    <script>
        // Initiate the wowjs animation library
        new WOW().init();
    </script>
</body>
</html>
